body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#moviesList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 400px;
    grid-gap: 1em;
    margin-top:130px;
    text-align: center;
    padding: 0 50px;
    transition: all .5s ease-in-out;
}
.moviesDisplay{
    display: grid;
    grid-template-rows: 70px 40px 40px auto 50px 50px;

}
.moviesDisplay > h2,p{
    position: relative;
}
.summaryDisplay span{
    display: inline;
    position: absolute;
    width: 100%;
    left: 0%;
    top: 19%;
    height: 80%;
    overflow-y: scroll;
}
.genreDisplay{
    text-transform: capitalize;
}
.genreDisplay,.yearDisplay,.summaryDisplay,.titleDisplay{
    transition: .5s all ease-in;
}
.genreDisplay:hover,.yearDisplay:hover,.summaryDisplay:hover,.titleDisplay:hover{
    color: #26A65B;
}
.button-symbol,.button-deleteMovie,.button-edit{
    line-height: .3em;
    box-shadow: inset 0px 0px 2px 0px #f9eca0;
    border-radius: 29px;
    border: 2px solid #e65f44;
    cursor: pointer;
    color: #c92200;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 16px;;
    text-decoration: none;
}
.button-symbol,.button-deleteMovie{
    border: 2px solid #e65f44;
    margin-left: 10px;
    color: #c92200;
    background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);    
}
.button-edit{
    background: linear-gradient(to bottom, #1b862d 5%, #04520e 100%); 
    border: 2px solid #268b83;
    color: #fff;
    width: 50%;
    margin: auto;
}
.button-container{
    margin: auto;
}
#moviesCountersContainer{
    position:absolute;
    right:2%;
    top:0%;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding:20px;
    font-size: 1.3em;
    transition: 1s all ease-in-out;
    font-weight: bold;
    text-align: right;
}
/*add.html styling */
.navigate{

    height: 50px;
    position: absolute;
    left: 1%;
    text-align: center;
    top: 4%;
    padding: 20px;
}
.navigate a{
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}


/*Form Styles   */
.form-movie{
    max-width:400px;
    margin:120px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-movie h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-movie ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-movie li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-movie li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
    
}
.form-movie li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-movie input[type="text"],
.form-movie input[type="search"],
.form-movie textarea
{
    box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    transition: .3s all ease-in-out;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-movie input[type="text"]:focus,
.form-movie input[type="search"]:focus,
.form-movie textarea:focus
{
 height: 35px;
}
.form-movie li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-movie textarea{
    resize:none;
}
.form-movie button{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #D2E2FF;
    transition: .3s all ease-in-out;
}
.form-movie button:hover{
    background: rgb(201, 31, 19);
    
}
@media (max-width:1220px){
    #moviesList{
        padding: 0;
        grid-auto-rows: 430px;
    }
    .moviesDisplay{
        grid-template-rows: 90px 40px 40px auto 50px 50px;
    }
}
@media (max-width:1120px){
    .button-edit{
        width: 70%;
    }
}
@media (max-width:1025px){
    #moviesList{
        grid-auto-rows: 500px;
    }
    .moviesDisplay{
        grid-template-rows: 90px 40px 40px auto 50px 100px;
    }
    .button-deleteMovie,.button-symbol{
        width: 70%;
        margin-bottom: 10px;
    }
}
@media (max-width:920px){
    #moviesList{
        grid-template-columns: 1fr 1fr;
    }
    .button-deleteMovie,.button-symbol{
        width: auto;
    }
}
@media (max-width:660px){
    #moviesList{
        grid-template-columns: 1fr;
        grid-auto-rows: 450px;
    }
    .moviesDisplay{
        grid-template-rows: 50px 40px 40px auto 50px 100px;
    }
    .button-edit{
        width: 40%;
    }
    .button-container{
        margin: 0;
    }
    .button-deleteMovie,.button-symbol{
        width: 40%;
        display: block;
        margin: 10px auto;
    }
}
@media (max-width:525px){
    #moviesList{
        grid-auto-rows: 500px;
    }
    .moviesDisplay{
        grid-template-rows: 80px 40px 40px auto 50px 100px;
    }
    .button-symbol,.button-deleteMovie{
        width: 60%;
        margin-bottom: 10px;
    }
    .button-edit{
        width: 60%;
    }
}
@media (max-width:400px){
    .navigate{
        padding: 0;
        top: 1%;
        left: 1%;
    }
}